USE [master]
GO
/****** Object:  Database [EnglishCenterDB]    Script Date: 3/19/2026 12:02:30 AM ******/
CREATE DATABASE [EnglishCenterDB]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'EnglishCenterDB', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.SQLEXPRESS\MSSQL\DATA\EnglishCenterDB.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'EnglishCenterDB_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.SQLEXPRESS\MSSQL\DATA\EnglishCenterDB_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [EnglishCenterDB].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [EnglishCenterDB]
GO
/****** Object:  Table [dbo].[Attendance]    Script Date: 3/19/2026 12:02:30 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Attendance](
	[AttendanceID] [int] IDENTITY(1,1) NOT NULL,
	[SlotID] [int] NULL,
	[StudentID] [int] NULL,
	[IsPresent] [bit] NULL,
	[Note] [nvarchar](255) NULL,
PRIMARY KEY CLUSTERED 
(
	[AttendanceID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Classes]    Script Date: 3/19/2026 12:02:30 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Classes](
	[ClassID] [int] IDENTITY(1,1) NOT NULL,
	[ClassName] [nvarchar](100) NOT NULL,
	[CourseID] [int] NULL,
	[TeacherID] [int] NULL,
	[StartDate] [date] NULL,
	[EndDate] [date] NULL,
	[Status] [nvarchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[ClassID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Courses]    Script Date: 3/19/2026 12:02:30 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Courses](
	[CourseID] [int] IDENTITY(1,1) NOT NULL,
	[CourseName] [nvarchar](100) NOT NULL,
	[Description] [nvarchar](max) NULL,
	[Price] [decimal](18, 2) NOT NULL,
	[Duration] [nvarchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[CourseID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Enrollments]    Script Date: 3/19/2026 12:02:30 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Enrollments](
	[EnrollID] [int] IDENTITY(1,1) NOT NULL,
	[StudentID] [int] NULL,
	[ClassID] [int] NULL,
	[EnrollDate] [datetime] NULL,
	[PaymentStatus] [bit] NULL,
	[FinalGrade] [float] NULL,
PRIMARY KEY CLUSTERED 
(
	[EnrollID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Feedbacks]    Script Date: 3/19/2026 12:02:30 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Feedbacks](
	[FeedbackID] [int] IDENTITY(1,1) NOT NULL,
	[StudentID] [int] NULL,
	[ClassID] [int] NULL,
	[Rating] [int] NULL,
	[Comment] [nvarchar](max) NULL,
	[CreatedAt] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[FeedbackID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Materials]    Script Date: 3/19/2026 12:02:30 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Materials](
	[MaterialID] [int] IDENTITY(1,1) NOT NULL,
	[ClassID] [int] NULL,
	[Title] [nvarchar](200) NOT NULL,
	[FileUrl] [nvarchar](max) NULL,
	[CreatedAt] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[MaterialID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Roles]    Script Date: 3/19/2026 12:02:30 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Roles](
	[RoleID] [int] IDENTITY(1,1) NOT NULL,
	[RoleName] [nvarchar](50) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[RoleID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Rooms]    Script Date: 3/19/2026 12:02:30 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Rooms](
	[RoomID] [int] IDENTITY(1,1) NOT NULL,
	[RoomName] [nvarchar](50) NOT NULL,
	[Capacity] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[RoomID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Timetable]    Script Date: 3/19/2026 12:02:30 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Timetable](
	[SlotID] [int] IDENTITY(1,1) NOT NULL,
	[ClassID] [int] NULL,
	[RoomID] [int] NULL,
	[SlotDate] [date] NOT NULL,
	[SlotTime] [nvarchar](50) NOT NULL,
	[Topic] [nvarchar](255) NULL,
PRIMARY KEY CLUSTERED 
(
	[SlotID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Users]    Script Date: 3/19/2026 12:02:30 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Users](
	[UserID] [int] IDENTITY(1,1) NOT NULL,
	[Username] [varchar](50) NOT NULL,
	[Password] [varchar](255) NOT NULL,
	[FullName] [nvarchar](100) NOT NULL,
	[Email] [varchar](100) NULL,
	[Phone] [varchar](15) NULL,
	[Address] [nvarchar](255) NULL,
	[RoleID] [int] NULL,
	[Status] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[UserID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Attendance] ON 

INSERT [dbo].[Attendance] ([AttendanceID], [SlotID], [StudentID], [IsPresent], [Note]) VALUES (1, 234, 221, 0, NULL)
INSERT [dbo].[Attendance] ([AttendanceID], [SlotID], [StudentID], [IsPresent], [Note]) VALUES (2, 234, 222, 1, NULL)
INSERT [dbo].[Attendance] ([AttendanceID], [SlotID], [StudentID], [IsPresent], [Note]) VALUES (3, 234, 223, 1, NULL)
GO
SET IDENTITY_INSERT [dbo].[Attendance] OFF
GO
SET IDENTITY_INSERT [dbo].[Classes] ON 

INSERT [dbo].[Classes] ([ClassID], [ClassName], [CourseID], [TeacherID], [StartDate], [EndDate], [Status]) VALUES (14, N'TOEIC 750 - Group 1', 2, 218, CAST(N'2026-03-03' AS Date), CAST(N'2026-06-18' AS Date), N'Ongoing')
INSERT [dbo].[Classes] ([ClassID], [ClassName], [CourseID], [TeacherID], [StartDate], [EndDate], [Status]) VALUES (15, N'Communication Basic 2', 3, 219, CAST(N'2026-03-03' AS Date), CAST(N'2026-06-18' AS Date), N'Ongoing')
INSERT [dbo].[Classes] ([ClassID], [ClassName], [CourseID], [TeacherID], [StartDate], [EndDate], [Status]) VALUES (16, N'English for IT 3', 4, 211, CAST(N'2026-03-03' AS Date), CAST(N'2026-06-18' AS Date), N'Ongoing')
SET IDENTITY_INSERT [dbo].[Classes] OFF
GO
SET IDENTITY_INSERT [dbo].[Courses] ON 

INSERT [dbo].[Courses] ([CourseID], [CourseName], [Description], [Price], [Duration]) VALUES (1, N'IELTS Breakthrough 6.5', N'Khóa học luyện thi IELTS mục tiêu 6.5+', CAST(8500000.00 AS Decimal(18, 2)), N'6 tháng')
INSERT [dbo].[Courses] ([CourseID], [CourseName], [Description], [Price], [Duration]) VALUES (2, N'TOEIC 750+', N'Luyện thi TOEIC 2 kỹ năng', CAST(4500000.00 AS Decimal(18, 2)), N'3 tháng')
INSERT [dbo].[Courses] ([CourseID], [CourseName], [Description], [Price], [Duration]) VALUES (3, N'Tiếng Anh Giao Tiếp Cơ Bản', N'Dành cho người mất gốc', CAST(3200000.00 AS Decimal(18, 2)), N'2 tháng')
SET IDENTITY_INSERT [dbo].[Courses] OFF
GO
SET IDENTITY_INSERT [dbo].[Enrollments] ON 

INSERT [dbo].[Enrollments] ([EnrollID], [StudentID], [ClassID], [EnrollDate], [PaymentStatus], [FinalGrade]) VALUES (261, 221, 14, CAST(N'2026-03-18T14:48:16.793' AS DateTime), 1, NULL)
INSERT [dbo].[Enrollments] ([EnrollID], [StudentID], [ClassID], [EnrollDate], [PaymentStatus], [FinalGrade]) VALUES (262, 222, 14, CAST(N'2026-03-18T14:48:16.793' AS DateTime), 1, NULL)
INSERT [dbo].[Enrollments] ([EnrollID], [StudentID], [ClassID], [EnrollDate], [PaymentStatus], [FinalGrade]) VALUES (263, 223, 14, CAST(N'2026-03-18T14:48:16.793' AS DateTime), 1, NULL)
GO
SET IDENTITY_INSERT [dbo].[Enrollments] OFF
GO
SET IDENTITY_INSERT [dbo].[Feedbacks] ON 

INSERT [dbo].[Feedbacks] ([FeedbackID], [StudentID], [ClassID], [Rating], [Comment], [CreatedAt]) VALUES (1, 258, 15, 4, N'Khóa học rất thực tế, mình học được nhiều từ mới.', CAST(N'2026-03-18T14:48:41.530' AS DateTime))
INSERT [dbo].[Feedbacks] ([FeedbackID], [StudentID], [ClassID], [Rating], [Comment], [CreatedAt]) VALUES (2, 343, 20, 5, N'Khóa học rất thực tế, mình học được nhiều từ mới.', CAST(N'2026-03-18T14:48:41.530' AS DateTime))
INSERT [dbo].[Feedbacks] ([FeedbackID], [StudentID], [ClassID], [Rating], [Comment], [CreatedAt]) VALUES (3, 396, 22, 5, N'Khóa học rất thực tế, mình học được nhiều từ mới.', CAST(N'2026-03-18T14:48:41.530' AS DateTime))
SET IDENTITY_INSERT [dbo].[Feedbacks] OFF
GO
SET IDENTITY_INSERT [dbo].[Materials] ON 

INSERT [dbo].[Materials] ([MaterialID], [ClassID], [Title], [FileUrl], [CreatedAt]) VALUES (13, 14, N'Giáo trình TOEIC Economy Vol 1 (PDF)', N'https://drive.google.com/file/d/1a2b3c-toeic14-1', CAST(N'2026-03-18T15:08:32.760' AS DateTime))
INSERT [dbo].[Materials] ([MaterialID], [ClassID], [Title], [FileUrl], [CreatedAt]) VALUES (14, 14, N'File Audio Listening Part 1-2', N'https://drive.google.com/file/d/1a2b3c-toeic14-2', CAST(N'2026-03-18T15:08:32.760' AS DateTime))
INSERT [dbo].[Materials] ([MaterialID], [ClassID], [Title], [FileUrl], [CreatedAt]) VALUES (15, 19, N'Giáo trình TOEIC Economy Vol 1 (PDF)', N'https://drive.google.com/file/d/1a2b3c-toeic19-1', CAST(N'2026-03-18T15:08:32.760' AS DateTime))
SET IDENTITY_INSERT [dbo].[Materials] OFF
GO
SET IDENTITY_INSERT [dbo].[Roles] ON 

INSERT [dbo].[Roles] ([RoleID], [RoleName]) VALUES (1, N'Admin')
INSERT [dbo].[Roles] ([RoleID], [RoleName]) VALUES (2, N'Staff')
INSERT [dbo].[Roles] ([RoleID], [RoleName]) VALUES (3, N'Teacher')
SET IDENTITY_INSERT [dbo].[Roles] OFF
GO
SET IDENTITY_INSERT [dbo].[Rooms] ON 

INSERT [dbo].[Rooms] ([RoomID], [RoomName], [Capacity]) VALUES (1, N'Phòng Lab 01', 30)
INSERT [dbo].[Rooms] ([RoomID], [RoomName], [Capacity]) VALUES (2, N'Phòng Lab 02', 30)
INSERT [dbo].[Rooms] ([RoomID], [RoomName], [Capacity]) VALUES (3, N'Phòng VIP 01', 15)
SET IDENTITY_INSERT [dbo].[Rooms] OFF
GO
SET IDENTITY_INSERT [dbo].[Timetable] ON 

INSERT [dbo].[Timetable] ([SlotID], [ClassID], [RoomID], [SlotDate], [SlotTime], [Topic]) VALUES (234, 14, 1, CAST(N'2026-03-18' AS Date), N'Chiều (14:30 - 16:00)', N'Lesson Topic - Week 1')
INSERT [dbo].[Timetable] ([SlotID], [ClassID], [RoomID], [SlotDate], [SlotTime], [Topic]) VALUES (235, 14, 1, CAST(N'2026-03-20' AS Date), N'Chiều (14:30 - 16:00)', N'Lesson Topic - Week 1')
INSERT [dbo].[Timetable] ([SlotID], [ClassID], [RoomID], [SlotDate], [SlotTime], [Topic]) VALUES (236, 14, 1, CAST(N'2026-03-23' AS Date), N'Chiều (14:30 - 16:00)', N'Lesson Topic - Week 2')
GO
SET IDENTITY_INSERT [dbo].[Timetable] OFF
GO
SET IDENTITY_INSERT [dbo].[Users] ON 

INSERT [dbo].[Users] ([UserID], [Username], [Password], [FullName], [Email], [Phone], [Address], [RoleID], [Status]) VALUES (211, N'teacher1', N'123', N'Đỗ Quang Quân', N'teacher1@center.edu.vn', N'093097507', N'Hà Đông, Hà Nội', 3, 1)
INSERT [dbo].[Users] ([UserID], [Username], [Password], [FullName], [Email], [Phone], [Address], [RoleID], [Status]) VALUES (212, N'teacher2', N'123', N'Trần Minh Lan', N'teacher2@center.edu.vn', N'0923847893', N'Hai Bà Trưng, Hà Nội', 3, 1)
INSERT [dbo].[Users] ([UserID], [Username], [Password], [FullName], [Email], [Phone], [Address], [RoleID], [Status]) VALUES (213, N'teacher3', N'123', N'Trần Thị Dũng', N'teacher3@center.edu.vn', N'0917218561', N'Quận 1, TP.HCM', 3, 1)
GO
SET IDENTITY_INSERT [dbo].[Users] OFF
GO
/****** Object:  Index [Unique_Enroll]    Script Date: 3/19/2026 12:02:30 AM ******/
ALTER TABLE [dbo].[Enrollments] ADD  CONSTRAINT [Unique_Enroll] UNIQUE NONCLUSTERED 
(
	[StudentID] ASC,
	[ClassID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__Users__536C85E46ADF62EE]    Script Date: 3/19/2026 12:02:30 AM ******/
ALTER TABLE [dbo].[Users] ADD UNIQUE NONCLUSTERED 
(
	[Username] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__Users__A9D10534076AF2B7]    Script Date: 3/19/2026 12:02:30 AM ******/
ALTER TABLE [dbo].[Users] ADD UNIQUE NONCLUSTERED 
(
	[Email] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Attendance] ADD  DEFAULT ((1)) FOR [IsPresent]
GO
ALTER TABLE [dbo].[Enrollments] ADD  DEFAULT (getdate()) FOR [EnrollDate]
GO
ALTER TABLE [dbo].[Enrollments] ADD  DEFAULT ((0)) FOR [PaymentStatus]
GO
ALTER TABLE [dbo].[Feedbacks] ADD  DEFAULT (getdate()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[Materials] ADD  DEFAULT (getdate()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[Rooms] ADD  DEFAULT ((30)) FOR [Capacity]
GO
ALTER TABLE [dbo].[Users] ADD  DEFAULT ((1)) FOR [Status]
GO
ALTER TABLE [dbo].[Attendance]  WITH CHECK ADD FOREIGN KEY([SlotID])
REFERENCES [dbo].[Timetable] ([SlotID])
GO
ALTER TABLE [dbo].[Attendance]  WITH CHECK ADD FOREIGN KEY([StudentID])
REFERENCES [dbo].[Users] ([UserID])
GO
ALTER TABLE [dbo].[Classes]  WITH CHECK ADD FOREIGN KEY([CourseID])
REFERENCES [dbo].[Courses] ([CourseID])
GO
ALTER TABLE [dbo].[Classes]  WITH CHECK ADD FOREIGN KEY([TeacherID])
REFERENCES [dbo].[Users] ([UserID])
GO
ALTER TABLE [dbo].[Enrollments]  WITH CHECK ADD FOREIGN KEY([ClassID])
REFERENCES [dbo].[Classes] ([ClassID])
GO
ALTER TABLE [dbo].[Enrollments]  WITH CHECK ADD FOREIGN KEY([StudentID])
REFERENCES [dbo].[Users] ([UserID])
GO
ALTER TABLE [dbo].[Feedbacks]  WITH CHECK ADD FOREIGN KEY([ClassID])
REFERENCES [dbo].[Classes] ([ClassID])
GO
ALTER TABLE [dbo].[Feedbacks]  WITH CHECK ADD FOREIGN KEY([StudentID])
REFERENCES [dbo].[Users] ([UserID])
GO
ALTER TABLE [dbo].[Materials]  WITH CHECK ADD FOREIGN KEY([ClassID])
REFERENCES [dbo].[Classes] ([ClassID])
GO
ALTER TABLE [dbo].[Timetable]  WITH CHECK ADD FOREIGN KEY([ClassID])
REFERENCES [dbo].[Classes] ([ClassID])
GO
ALTER TABLE [dbo].[Timetable]  WITH CHECK ADD FOREIGN KEY([RoomID])
REFERENCES [dbo].[Rooms] ([RoomID])
GO
ALTER TABLE [dbo].[Users]  WITH CHECK ADD FOREIGN KEY([RoleID])
REFERENCES [dbo].[Roles] ([RoleID])
GO
ALTER TABLE [dbo].[Feedbacks]  WITH CHECK ADD CHECK  (([Rating]>=(1) AND [Rating]<=(5)))
GO
USE [master]
GO
